<div *ngIf="showAlert" class="alert alert-warning">
    Для создания поста необходимо зарегистрироваться.
    Перенаправление на страницу регистрации...
</div>
<div *ngIf="!showAlert">
    <form *ngIf="!showAlert" [formGroup]="form">
        <p>Создать Пост</p>
        <div class="form-field">
            <label>Заголовк:</label>
            <input name="title" formControlName="title">
        </div>
        <div class="form-field">
            <label>Контент:</label>
            <input name="content" formControlName="content">
        </div>
        <button class="button button-primary" (click)="createPost()">Создать Пост</button>
    </form>
    <h2>Ваши Посты:</h2>
    <div *ngFor="let post of posts" class="post-card">
        <div class="post-header">
            <h3>{{ post.title }}</h3>
        </div>
        <div class="post-content">
            {{ post.content }}
        </div> <button class="button button-primary" (click)="deletePost(post.id)">Удалить Пост</button>
    </div>
</div>