<form [formGroup]="form">
    <h2>Регистрация</h2>
    <div class="form-field">
        <label>Email:</label>
        <input name="email" formControlName="email">
    </div>
    <div class="form-field">
        <label>Имя позьзователя:</label>
        <input name="username" formControlName="username">
    </div>
    <div class="form-field">
        <label>Пароль:</label>
        <input name="password" formControlName="password" type="password">
    </div>
<button class="button button-primary" (click)="register()">Зарегистрироваться</button>
</form>